
.paginated {
  display: flex;
  justify-content: center;
  padding: 10px 5px 5px;
  width: 500px;
}

.pages{
  display: flex;
  flex-direction: row; 
  
}
/* .pages {
  padding: 1px 300px;
  display: flex;
  
  flex-direction: row;   
  display: flex;
height: 30px;
  list-style-type:none;
  justify-content: center;
box-shadow: 3px 5px 1px rgb(112, 44, 44);
padding: 0 20px 4px;
border-radius: 7px;
background-color: rgb(231, 218, 218);
}

.pages a:hover{
  background-color: #ce5249;
  color:  rgb(231, 218, 218);
} */


/* display: flex;
align-content: center;
flex-direction: row;
padding: 1px 5px; */    
/* float: left;
transition: 400ms ease; */
/* height: 30px; 
width: 30px;*/
.page {
  list-style-type:none;

}

.pageBtn {
  cursor: pointer;
  display: flex;    
  justify-content: center;
  margin: 5px;
  width: 50px;
  height: 30px;  
  background-color: rgb(137, 122, 47);
  color: rgb(251, 249, 249);
  border-style: none;
  border-radius: 5px;
  font-size: 15px;	
  line-height: 30px;
  font-weight: 700;
} 

.pageBtn :hover {
  background-color: #ce5249;
  color: rgb(231, 218, 218);
}